#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-list:has(button:active) ~ h1 .random-result {
  border: none;
}

.button-list button {
  border-radius: 80px;
  font-size: 3em;
}

.result-text {
  padding: 0.5rem 2rem;
}

.random-result {
  border: 1px solid #646cff;
  border-radius: 50px;
  padding: 0.5rem 2rem;
}

.secret {
  position: fixed;
  top: 1em;
  right: 3em;
  padding-left: 3em;
  padding-right: 3em;
  opacity: 0;
}

.secret:hover {
  opacity: 1;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  -o-transition:all 0.7s;
  -ms-transition:all 0.7s;
}
