#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.instructions-text {
    margin: auto 4rem;
}

.history {
    position: fixed;
    min-width: 12rem;
    top: 1em;
    left: 3em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

.history-element {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-right: 2.5rem;
}

.history-date {
    min-width: 5rem;
    padding-right: 1rem;
}

.history-result {
    text-align: left;
    min-width: 5rem;
}

.button-list:has(button:active) ~ h1 .random-result {
    opacity: 0.2;
}

.button-list button {
    border-radius: 80px;
    font-size: 3em;
}

.result-text {
    padding: 0.5rem 2rem;
}

.random-result {
    border: 1px solid #646cff;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    opacity: 1;
}

.secret {
    position: fixed;
    top: 1em;
    right: 3em;
    padding-left: 3em;
    padding-right: 3em;
    opacity: 0;
}

.secret:hover {
    opacity: 1;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
}

.build-timestamp {
    position: fixed;
    bottom: 2em;
    right: 3em;
    padding-left: 1em;
    padding-right: 1em;
    opacity: 0.4;
}
